<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style1.css">
    <title>Day01</title>
</head>
<body>
    <div class="main">
        <div class="loader">
            <h2 class="zoom">ByteBender</h2>
            <h1 class="scramble">Byte Bender</h1>
            <div class="Loading"></div>
        </div>
        <div class="svgwaala">
            <div id="dotted">
              <img id="donut" src="/Images/donut.png" alt="" />
              <img id="kothik-h" src="Images/Group 3.svg" alt="" />
              <img id="kothik-i" src="Images/I.svg" alt="" />
              <img id="kothik-t" src="Images/Group 2.svg" alt="" />
              <img id="kothik-o" src="/Images/O.svg" alt="" />
              <img id="kothik-k" src="/Images/Group 1.svg" alt="" />
              <img id="kothik-k2" src="/Images/Group 1.svg" alt="" />
            </div>
            <div id="explore">
                <h1 onclick="setTimeout( example, 1200)">Explore</h1>
              </div>
        </div>
    </div>
    

    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.7/gsap.min.js" integrity="sha512-f6bQMg6nkSRw/xfHw5BCbISe/dJjXrVGfz9BSDwhZtiErHwk7ifbmBEtF9vFW8UNIQPhV2uEFVyI/UHob9r7Cw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.7/ScrollTrigger.min.js" integrity="sha512-AcqPGqrrAEtEwe+ADO5R8RbdFi7tuU7b/A2cJJH0Im0D18NRk5p5s4B3E5PMuO81KFw0ClN7J5SHVUJz7KOb0A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/JS/descrambler.js"></script>
    <script src="/JS/script.js"></script>
</body>
</html>